{% extends 'baseAdmin.html.twig' %}
{%  block title %}Редактирование меню{% endblock %}
{% block body %}
    <h1 class="float-left">Редактирование меню</h1>
    <div class="col-sm-7">
        <table class="table table-striped">
            <tr class="js-main-row">
                <th>Основоной раздел</th>
                <th></th>
                <th>Подраздел</th>
            </tr>
            <tr class="js-lower-row"></tr>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/menuEdit.js') }}"></script>
    <script>menuEditor.getAllCategories();</script>
{% endblock %}

