{% extends 'admin/comment/formLayout.html.twig' %}
{% block title %}Редактирование комментария{% endblock %}
{% block body %}
                <h1>Редактирование комментария</h1>
                {{ include('admin/comment/_form.html.twig') }}
{% endblock %}