{% extends 'admin/ad/formLayout.html.twig' %}
{% block title %}Редактирование рекламного блока{% endblock %}
{% block body %}
                <h1>Редактирование рекламного блока</h1>
                {{ include('admin/ad/_form.html.twig') }}
{% endblock %}