{% extends 'admin/news/formLayout.html.twig' %}
{%  block title %}Новый блок рекламы{% endblock %}
{% block body %}
    <h1>Новый блок рекламы</h1>
    {{ include('admin/ad/_form.html.twig') }}
{% endblock %}