{{ form_start(categoryForm) }}
    {{ form_row(categoryForm.name) }}
    {{ form_row(categoryForm.alias) }}
    <button type="submit" class="btn btn-primary" formnovalidate>Сохранить</button>
{{ form_end(categoryForm) }}